.custom-header {
    font-weight: 500;
    z-index: 9000;
}

.nav-title {
    line-height: 25px;
    padding: 17.5px 25px;
    text-decoration: none;
    cursor: pointer;
    flex-grow: 1;
}

.nav-title-link {
    font-size: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.first-tier {
    position: relative;
    background-color: #2B2B2B;
    display: flex;
    align-items: center;
    line-height: 20px;
    padding-left: calc(50vw - 725px);
    padding-right: calc(50vw - 725px);
}

.first-tier-link {
    color: white;
    padding: 17.5px 25px;
}

.first-tier-link:hover {
    color: white;
    background-color: #202020;
    box-shadow: inset 0 -3px 0 0 #1B6463;
}

.second-tier {
    position: relative;
    color: #bfbfbf;
    height: 40px;
    background-color: #202020;
    display: flex;
    align-items: center;
    padding-left: calc(50vw - 765px);
    padding-right: calc(50vw - 725px);
}

.second-tier-item {
    padding: 0px 10px;
    height: 40px;
    display: flex;
    align-items: center;
}

.second-tier-link {
    color: #bfbfbf;
    padding: 7px 4px;
    font-size: 15px;
    display: inline-block;
}

.second-tier-link:hover {
    color: white;
    box-shadow: inset 0 -3px 0 0 #1F6060;
}


.trial-button {
    background-color: #2D9AF2;
    padding: 11px 15px;
    border-style: none;
    margin-inline: 10px;
}

.selected {
    box-shadow: inset 0 -3px 0 0 #29A09E;
    background-color: #151515;
}

.selected:hover {
    box-shadow: inset 0 -3px 0 0 #29A09E;
    background-color: #151515;
}


li a {
    text-decoration: none;
    cursor: pointer
}

ul {
    list-style-type: none;
    list-style-position: inside;
    line-height: 1.55rem;
}

li {
    float: left;
    list-style-position: outside;
    display: list-item;
}